.model iframe {
    display: flex;
    justify-content: center;
    height: 800px;
    width: 800px;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    background-color: navy;
    color: #ffffff;
}

#OREL_logo{
    /* To play around, change this to absolute */
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}
