{% extends "base.html" %} {% block title %}Compare Models{% endblock %} {% block content %}
<script>
    function changemodel(x, y) {
      if (y == 1) {
        var mod = document.getElementById("model1");
      }  
      else {
        var mod = document.getElementById("model2");
      }
      switch(x) {
          case 1:
          mod.src = "{{ url_for('static', filename='models/osdcCoOp.html') }}";
          mod.title = "Example Model";
          break;

          case 2:
          mod.src = "{{ url_for('static', filename='models/nogood.html') }}";
          mod.title = "No Good";
          break;
          
          case 3:
          mod.src = "{{ url_for('static', filename='models/Flocking.html') }}";
          mod.title = "Flocking";
          break;
      }
    }
</script>

<h1 align="center">Compare Models</h1>

<div class = "selectholder">

    <label for="select1">Model 1:</label>
    <select name="model 1" id = "select1">Select Model 1
        <option onclick ="changemodel(1, 1)">Example</option>
        <option onclick ="changemodel(2, 1)">NoGood</option>
        <option onclick ="changemodel(3, 1)">Flocking</option>
    </select>

    <label for="select2" id = "label">Model 2:</label>
    <select name="model 2" id = "select2">Select Model 2
        <option onclick ="changemodel(1, 0)">Example</option>
        <option onclick ="changemodel(2, 0)">NoGood</option>
        <option onclick ="changemodel(3, 0)">Flocking</option>
    </select>

</div>
<div class="compare">

    <iframe src="{{ url_for('static', filename='models/osdcCoOp.html') }}" title="Example Model" id = "model1" width="100%" height="100%"></iframe>

    <iframe src="{{ url_for('static', filename='models/osdcCoOp.html') }}" title="Example Model" id = "model2" width="100%" height="100%"></iframe>

</div>
{% endblock %}