{% extends "connected.html" %} {% block title %}Connect to your GitHub{% endblock %} {% block content
    %}
    <div id="loginbox" class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4"> 
        <div class="row">                
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#git"></use>
                </g>
              </svg>
        </div>
            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">GitHub Authorized, choose Organization</div>
                </div>     
                <div class="panel-body" >
                    <form name="orgform" id="orgform" action="/models">
                        <select name="org" id="org">
                        {% for org in gh_json %}
                            <option value='{{"{orgname}".format(orgname=org["organization"]["login"])}}' selected="selected">{{"{orgname}".format(orgname=org['organization']['login'])}}</option>
                        {% endfor %}
                        </select>
                        <input type="submit" value="Select">
                    </form> 
                </div>                     
            </div>  
        </div>
    </div>

{% endblock %}
