    <canvas id=c></canvas>
    {% extends "base.html" %} {% block title %}Sustainability Auditing Tool{% endblock %} {% block content
        %}
        
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sustainability Auditing Tool</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
        />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_scroll.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}"/>
    </head>
    <body id="page-top">
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-1 text-left">
                <h1 class="fw-normal">Computational models</h1>
                <h1 class="fw-normal">for your open-source </h1>
                <h1 class="fw-normal">software community. <a class="nav-item btn btn-small btn-navy btn-outline-light" style="position: relative; left:30px;" href="{{ url_for(github.login) }}">Get Started</a></h1>
            </div>
        </header>
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <!-- About section-->
        <section id="about">
            <div class="bg-primary bg-gradient text-white">
            <div class="container px-1">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About this page</h2>
                        <p class="lead">The Sustainability Auditing Tool is the brainchild of the Orthogonal Research and Education Lab, whose intent is 
                            to introduce collective cognition modeling to open-source software communities.  If you're interested in modeling your community, 
                            all you need is a GitHub account to get started. Click the login button above to authenticate your GitHub account, and get 
                            modeling!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- Support section-->
        <section id="support">
            <div class="bg-primary bg-gradient text-white">
            <div class="container px-1">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Support for Sustainability Auditing Tool</h2>
                        <p class="lead">If your community is experiencing difficulties authenticating its GitHub account, populating models, or any
                            other technical issue, please reach out to us at <a href="mailto:sustainabilityauditingtool@gmail.com">sustainabilityauditingtool@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- Contact section-->
        <section id="contact" class="bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <h2>Contact us</h2>
                        <p class="lead">If you would like to learn more about the Sustainability Auditing Tool (SAT), or the Orthogonal Reasarch and Education Laboratory, 
                            please reach out.</p>
                        </div>
                        <div class="col-lg-6 mx-auto">
                        <ul>
                        <li>SAT email: <a href="mailto:sustainabilityauditingtool@gmail.com">sustainabilityauditingtool@gmail.com</a></li>
                        <li>SAT GitHub: <a href="http://github.com/sat-7" target="_blank">github.com/sat-7</a></li>
                        <li>OREL website: <a href="http://orthogonal-research.weebly.com" target="_blank">Orthogonal-research.weebly.com</a></li>
                        <li>OREL GitHub: <a href="http://github.com/Orthogonal-Research-Lab" target="_blank">github.com/Orthogonal-Research-Lab</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
         <!-- Login section-->
         <section id="about">
            <div class="container px-1">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                    </div>
                </div>
            </div>
        </section>


{% endblock %}