{% extends "connected.html" %} {% block title %}Models{% endblock %} {% block content
%}
<script>
   function getIframeContent(frameID) {
      var frameObj = document.getElementById(frameID);
      var frameContent = frameObj.contentWindow.document.body.innerHTML;
      var element = document.getElementById("save");
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(frameContent));
   }
</script>
<script>
   function changemodel(x) {
     var mod = document.getElementById("model");
     switch(x) {
         case 1:
         mod.src = "{{ url_for('static', filename='models/currentmodel.html') }}";
         mod.title = "Oversimplification";
         break;

         case 2:
         mod.src = "{{ url_for('static', filename='models/currentmodel.html') }}";
         mod.title = "Cooperation Model";
         break;
     }
   }
</script>
<br><br>
<div style="position:relative; margin-top:4em">
   <!-- Models-->
   <div class="row">
      <div class="col-lg-4">
         <a id="save" onclick="getIframeContent('model');" download="model.html"><button class="btn btn-lg btn-outline-light" id="button-search" type="button">Save Model</button></a>
      </div>
      <div class="col-lg-4">
         <select name="models" class="modelselect">Select Model
            <option onclick ="changemodel(1)">Oversimplification</option>
            <option onclick ="changemodel(2)">Cooperation Model</option>
         </select>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="model"> 
            <!--{{"{chosenorg}".format(chosenorg=request.args.get('org'))}}<br>-->
            <iframe src="{{ url_for('static', filename='models/currentmodel.html') }}" id="model" name="model" width="100%" height="100%" ></iframe>
            <!--{{"Full JSON: {gh_json}".format(gh_json=gh_json)}}-->
         </div>
      </div>
   </div>
</div>

<script>
   // Get the iframe and the dropdown menu
   var iframe = document.getElementById('model');
   var menu = document.getElementById('model-comparison');

   // Add an event listener to the menu to listen for changes
   menu.addEventListener('change', function() {
     // Get the selected value from the menu
     var selected = menu.options[menu.selectedIndex].value;

     // Update the src attribute of the iframe to the selected value
     iframe.src = selected;
   });
</script>
{% endblock %}


